[submodule "klee"]
	path = tools/klee
	url = https://github.com/charlesxsh/klee
	branch = dsl
[submodule "tools/rust"]
	path = tools/rust
	url = https://github.com/charlesxsh/rust
[submodule "tools/safe4u"]
	path = tools/safe4u
	url = https://github.com/huanli-00/Safe4U-replication.git
